/* 

--- 01 TYPOGRAPHY SYSTEM

  FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  FONT WEIGHTS:
    default: 400

  LINE HEIGHTS:
    default: 1      

        Select three of the font-size values and choose 1 from them.

--- 02 COLORS

  PRIMARY: #e67e22 - brand color
           #fdf2e9 - background color for hero
  Tints: #e67d229a used for border on navbar when link is active
  Shades: #e8590c for hovering on orange buttons
  Accents:
  Greys: #555


--- 03 SHADOWS


--- 04 BORDER RADIUS

--- 05 WHITESPACE

 SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; bad practice since this will always overwrite users set font, setting it as a percentage will just scale a users devices font size rather than just replacing it */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section div {
  max-width: 130rem;
  margin: 0 auto;
}

/* *********************************************** */
/*                                                 */
/* CSS RELATED TO THE HERO SECTION IS BELOW        */
/*                                                 */
/* *********************************************** */
.section-hero {
  background: #fdf2e9;
}

.hero {
  display: grid;
  /* margin: 0 auto; */
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;

  /* width: 100vw; */
  grid-template-columns: 1fr 1fr;

  align-items: center;
  grid-gap: 9.6rem;
  background-color: #fdf2e9;
}

.navbar {
  display: flex;
  height: 9.5rem;
  align-items: center;
  justify-content: flex-end;
  gap: 4.8rem;
  padding: 0 5rem;
  /* background-color: #ffffff00; */
  background-color: #fdf2e9;
}

.logo-link,
.navbar-logo {
  height: 2.2rem;
  margin-right: auto;
}

.navbar-link {
  border: 1rem solid transparent;
  transition: color 0.15s ease-in 100ms, border 0.2s ease-in 100ms;
}

.logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
  /* color: #000000; */
  border: none;
  /* box-shadow: none; */
}

.navbar-link:link,
.navbar-link:visited {
  text-decoration: none;
  color: #555;
  font-size: 1.8rem;
  font-weight: 400;
}

.navbar-link:hover,
.navbar-link:focus,
.navbar-link:active {
  color: #e67e22;
  outline: none;
}

.navbar-link:focus,
.navbar-link:active {
  border: 1rem solid #e67d229a;
  outline: none;
}

.arrow-down {
  height: 2.4rem;
  width: 2.4rem;
  /* height: 24px;
  width: 24px; */
  stroke: #555;
  background-color: transparent;
  stroke-width: 0.15rem;
  margin-left: 0.8rem;
}

.btn {
  box-shadow: 0rem 0rem 1rem 1rem transparent;
  transition: box-shadow 0.15s ease-in 100ms;
  transition: background-color 0.15s ease-in 100ms;
  border: 1rem solid transparent;
  border-radius: 1rem;
  padding: 0.2rem auto;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
}

.btn:link,
.btn:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn:hover {
  background-color: #e8590c;
}

.logo-link {
  transition: box-shadow 0.15s ease-in 100ms;
}

.logo-link:link,
.logo-link:visited,
.logo-link:hover {
  cursor: pointer;
}

.logo-link:focus,
.logo-link:active,
.btn:focus,
.btn:active {
  box-shadow: 0rem 0rem 0rem 1rem #e67d229a;
  outline: none;
}

.logo-link:focus,
.logo-link:active {
  border: none;
}

.btn-navbar:hover {
  border: 1rem solid transparent;
}

.big-hero-img {
  width: 100%;
}

.hero-tagline {
  font-size: 4.4rem;
  color: #212529;
  /* font-weight: 400; */
  margin-bottom: 4.8rem;
}

.summary {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  line-height: 1.5;
}

.client-face-container {
  display: flex;
  margin: 0;
  /* max-width: 12rem; */
  /* --gap: -1.5rem;
  flex-wrap: nowrap;
  margin-left: 1.5rem; */
}

.client-face-img {
  height: 5em;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  border-collapse: separate;
  margin-right: -1.5rem;
}

.client-face-img:last-of-type {
  margin-right: 1rem;
}

.hero-btn-holder {
  display: flex;
  /* flex-direction: row; */
  /* height: 8.4rem; */
  gap: 1.6rem;
}

.btn-hero {
  margin-bottom: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  max-width: 45%;
  padding: 0 3.2rem;
}

.link-to-info:link,
.link-to-info:visited {
  background-color: #fff;
  color: #555;
  border: 0.2rem solid transparent;
}

.link-to-info:hover {
  background-color: #fdf2e9;
  box-shadow: none;
}

.link-to-info:hover,
.link-to-info:focus,
.link-to-info:active {
  border: 0.2rem solid #fff;
}

.link-to-info:hover.border:before,
.link-to-info:focus.border:before,
.link-to-info:active.border:before {
  position: absolute;
  display: block;
  content: "";
  border: 0.5rem solid transparent;
}

.customer-satisfaction-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-size-brag {
  font-size: 1.8rem;
}

.customer-totals {
  color: #e67e22;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO THE FEATURED IN SECTION IS BELOW    */
/*                                                    */
/* ************************************************** */
.featured-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.8rem 2.4rem;
}

.featured-in p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
  color: #777;
}

.featured-in-gallery {
  display: flex;
  flex: 0 0 15%;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  max-width: 100%;
}

.featured-in-img {
  filter: brightness(0);
  opacity: 50%;
  height: 3.2rem;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO HOW IT WORKS SECTION IS BELOW       */
/*                                                    */
/* ************************************************** */
