/* 

--- 01 TYPOGRAPHY SYSTEM

  FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  FONT WEIGHTS:
    default: 400

  LINE HEIGHTS:
    default: 1      

        Select three of the font-size values and choose 1 from them.

--- 02 COLORS

  PRIMARY: #e67e22 - brand color
           #fdf2e9 - background color for hero
  Tints: #e67d229a used for border on navbar when link is active
  Shades: #e8590c for hovering on orange buttons
  Accents:
  Greys: #555
         #333 for all headings


--- 03 SHADOWS


--- 04 BORDER RADIUS

--- 05 WHITESPACE

 SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* *********************************************** */
/*                                                 */
/* CSS RELATED TO GLOBAL STYLES                    */
/*                                                 */
/* *********************************************** */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; bad practice since this will always overwrite users set font, setting it as a percentage will just scale a users devices font size rather than just replacing it */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > div {
  max-width: 120rem;
  margin: 0 auto;
}

/* 
The only svgs that are being used are icons from heroicons that are made to be 24px tall and with a stroke width of 1.5px 
color defaults to the branding color
*/
svg {
  height: 2.4rem;
  width: 2.4rem;
  stroke-width: 0.15rem;
  stroke: #e67e22;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

/* *********************************************** */
/*                                                 */
/* CSS RELATED TO THE GENERAL STYLING IS BELOW     */
/*                                                 */
/* *********************************************** */

.main-header {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
  padding-top: 1.6rem;
}

.grid {
  display: grid;
  column-gap: 9.6rem;
  row-gap: 9.6rem;
  /* width: 120rem; */
}

.grid-2-cols {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
  /* column-gap: 9.6rem;
  row-gap: 9.6rem; */
}

.grid-3-cols {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 6.4rem; */
  /* row-gap: 4.8rem; */
}

.crosslength {
  grid-column: 1 / -1;
}

.section-title {
  color: #e67e22;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.title-explained {
  font-size: 4.4rem;
  /* color: #212529; */
  font-weight: 700;
}

.img-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *********************************************** */
/*                                                 */
/* CSS RELATED TO THE HERO SECTION IS BELOW        */
/*                                                 */
/* *********************************************** */
.section-hero {
  background: #fdf2e9;
  /* max-width: 130rem; */
}

.hero {
  display: grid;
  /* margin: 0 auto; */
  padding: 4.8rem 3.2rem 9.6rem 3.2rem;

  /* width: 100vw; */
  grid-template-columns: 1fr 1fr;

  align-items: center;
  grid-gap: 9.6rem;
  background-color: #fdf2e9;
  max-width: 130rem;
}

.navbar {
  display: flex;
  height: 9.5rem;
  align-items: center;
  justify-content: flex-end;
  gap: 4.8rem;
  padding: 0 5rem;
  /* background-color: #ffffff00; */
  background-color: #fdf2e9;
}

.logo-link,
.navbar-logo {
  height: 2.2rem;
  margin-right: auto;
}

.navbar-link {
  border: 1rem solid transparent;
  transition: color 0.15s ease-in 100ms, border 0.2s ease-in 100ms;
}

.logo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
  /* color: #000000; */
  border: none;
  /* box-shadow: none; */
}

.navbar-link:link,
.navbar-link:visited {
  text-decoration: none;
  color: #555;
  font-size: 1.8rem;
  font-weight: 400;
}

.navbar-link:hover,
.navbar-link:focus,
.navbar-link:active {
  color: #e67e22;
  outline: none;
}

.navbar-link:focus,
.navbar-link:active {
  border: 1rem solid #e67d229a;
  outline: none;
}

.arrow-down {
  /* height: 2.4rem;
  width: 2.4rem; */
  /* height: 24px;
  width: 24px; */
  stroke: #555;
  background-color: transparent;
  stroke-width: 0.15rem;
  margin-left: 0.8rem;
}

.btn {
  box-shadow: 0rem 0rem 1rem 1rem transparent;
  transition: box-shadow 0.15s ease-in 100ms;
  transition: background-color 0.15s ease-in 100ms;
  border: 1rem solid transparent;
  border-radius: 1rem;
  padding: 0.2rem auto;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
}

.btn:link,
.btn:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn:hover {
  background-color: #e8590c;
}

.logo-link {
  transition: box-shadow 0.15s ease-in 100ms;
}

.logo-link:link,
.logo-link:visited,
.logo-link:hover {
  cursor: pointer;
}

.logo-link:focus,
.logo-link:active,
.btn:focus,
.btn:active {
  box-shadow: 0rem 0rem 0rem 1rem #e67d229a;
  outline: none;
}

.logo-link:focus,
.logo-link:active {
  border: none;
}

.btn-navbar:hover {
  border: 1rem solid transparent;
}

.big-hero-img {
  width: 100%;
}

.hero-tagline {
  font-size: 4.4rem;
  color: #212529;
  /* font-weight: 400; */
  margin-bottom: 4.8rem;
}

.summary {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
  line-height: 1.5;
}

.client-face-container {
  display: flex;
  margin: 0;
  /* max-width: 12rem; */
  /* --gap: -1.5rem;
  flex-wrap: nowrap;
  margin-left: 1.5rem; */
}

.client-face-img {
  height: 5em;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  border-collapse: separate;
  margin-right: -1.5rem;
}

.client-face-img:last-of-type {
  margin-right: 1rem;
}

.hero-btn-holder {
  display: flex;
  /* flex-direction: row; */
  /* height: 8.4rem; */
  gap: 1.6rem;
}

.btn-hero {
  margin-bottom: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  max-width: 45%;
  padding: 0 3.2rem;
}

.link-to-info:link,
.link-to-info:visited {
  background-color: #fff;
  color: #555;
  border: 0.2rem solid transparent;
}

.link-to-info:hover {
  background-color: #fdf2e9;
  box-shadow: none;
}

.link-to-info:hover,
.link-to-info:focus,
.link-to-info:active {
  border: 0.2rem solid #fff;
}

.link-to-info:hover.border:before,
.link-to-info:focus.border:before,
.link-to-info:active.border:before {
  position: absolute;
  display: block;
  content: "";
  border: 0.5rem solid transparent;
}

.customer-satisfaction-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-size-brag {
  font-size: 1.8rem;
}

.customer-totals {
  color: #e67e22;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO THE FEATURED IN SECTION IS BELOW    */
/*                                                    */
/* ************************************************** */
.featured-in-section {
  margin-bottom: 6.4rem;
}

.featured-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.8rem 2.4rem;
}

.featured-in p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  padding-bottom: 2.4rem;
  color: #777;
}

.featured-in-gallery {
  display: flex;
  flex: 0 0 15%;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  max-width: 100%;
}

.featured-in-img {
  filter: brightness(0);
  opacity: 50%;
  height: 3.2rem;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO HOW IT WORKS SECTION IS BELOW       */
/*                                                    */
/* ************************************************** */

/* TODO: ADD A NEWLINE TO STEP 1 so that it doesn;t look ugly af */

.how-it-works {
  padding: 0 3.2rem;
  padding-bottom: 12.8rem;
}

.hiw-step {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.step-num {
  font-size: 8.6rem;
  color: #bbb;
}

.step-name {
  font-size: 3rem;
  /* color: #000; */
  margin-bottom: 1.6rem;
  line-height: 1.3;
}

.step-explained {
  font-size: 1.8rem;
  line-height: 1.6;
}

.hiw-img {
  width: 35%;
  /* display: none; */
}

.hiw-img-container::before,
.hiw-img-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

.hiw-img-container::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: rgb(253, 242, 233);
  z-index: -2;
}

.hiw-img-container::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: rgb(250, 229, 211);
  z-index: -1;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO MEALS + DIET SECTION IS BELOW       */
/*                                                    */
/* ************************************************** */

.meals-diet-container {
  padding: 0 3.2rem;
}

.recipe-card {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 4rem 1rem #eee;
  transition: top ease 0.5s;
}

.recipe-card:hover {
  top: -1rem;
}

.recipe-info-container {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.recipe-card-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.recipe-container {
  display: flex;
  gap: 2.4rem;
}

.recipe-line {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.nutrition-info-container {
  flex-direction: column;
}

.categories-container {
  gap: 1.2rem;
  margin-bottom: 0.8rem;
}

.recipe-category {
  border-radius: 1.5rem;
  padding: 0.3rem 0.8rem;
  /* border: 1px solid pink; */
  background-color: pink;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.recipe-name {
  font-size: 2.4rem;
  padding-bottom: 3.2rem;
}

.diet-compatibility-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.diet-list-intro {
  font-size: 3rem;
  padding-bottom: 2.4rem;
}

.diet-example-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.checkmark-icon {
  height: 3rem;
  width: 3rem;
}

.vegan {
  background-color: rgb(32, 220, 32);
}

.vegetarian {
  background-color: rgb(95, 249, 60);
}

.paleo {
  background-color: rgb(255, 225, 28);
}

.recipe-link {
  margin: 4.8rem auto 8rem auto;
  text-decoration: none;
  padding-bottom: 0.1rem;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.recipe-link:link,
.recipe-link:visited {
  color: #e67e22;
  border-bottom: 0.1rem solid currentColor;
}

.recipe-link:focus {
  box-shadow: 0rem 0rem 0rem 1rem #e67d229a;
}

.recipe-link:hover,
.recipe-link:focus,
.recipe-link:active {
  color: #e8590c;
  border-bottom: 0.1rem solid transparent;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO TESTIMONIALS SECTION IS BELOW       */
/*                                                    */
/* ************************************************** */

.testimonials-section {
  background-color: #fdf2e9;
  max-width: 100vw;
}

.testimonial-header {
  margin-bottom: 8rem;
}

.testimonials-container {
  grid-template-columns: 55fr 45fr;
  /* padding: 9.6rem 1.6rem 9.6rem 9.6rem; */
  max-width: 100%;
  column-gap: 0;
  /* padding-top: 8rem; */
}

.testimonial-img-container {
  flex-direction: column;
  align-items: flex-start;
  height: 6.4rem;
  margin-bottom: 1.6rem;
}

.testimonial-img {
  height: 100%;
  border-radius: 50%;
}

.testimonials-examples {
  column-gap: 8rem;
  row-gap: 4.8rem;
}

/* Can remove the css style below in order to get the images to pop up on hover rather than just zoom within their container. Should probably add box-shadow if it is changed to let them pop up. */
.gallery-img-container {
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  transition: all 0.3s;
}

.gallery-img:hover {
  transform: scale(1.1);
  /* height: 100%; */
}

.gallery {
  column-gap: 1.6rem;
  row-gap: 1.6rem;
  padding: 1.6rem;
}

.testimonials-and-header {
  padding: 8rem 9.6rem 9.6rem 9.6rem;
}

.sample-testimonial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-content {
  font-size: 1.8rem;
  line-height: 2;
  margin-bottom: 2.4rem;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #777;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO PRICING SECTION IS BELOW            */
/*                                                    */
/* ************************************************** */

.pricing-container {
  padding: 9.6rem 3.2rem;
  width: 100%;
  column-gap: 6.4rem;
  row-gap: 4.8rem;
}

.pricing-header {
  margin-bottom: 5.2rem;
}

.price-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  border-radius: 1rem;
  border: 2px solid #fdf2e9;
  width: 75%;
  padding: 4.8rem;
}

.preferred-price {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.preferred-price::after {
  content: "Best value";
  text-transform: uppercase;
  font-size: 1.6rem;
  background-color: gold;
  position: absolute;
  top: 3rem;
  right: 5rem;
  width: 25rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: 600;
  display: block;
  transform: translate(50%, 50%) rotate(45deg);
  color: #333;
}

.starter-card {
  justify-self: end;
}

.price-tier {
  color: #e67e22;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0 auto;
}

.included-benefits-price-card {
  list-style: none;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.included-benefit {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.plan-cost {
  font-size: 6.2rem;
}

.tiny-dollar-sign {
  font-size: 3rem;
}

.cost-breakdown {
  font-size: 1.4rem;
}

.price-item {
  font-size: 1.6rem;
  line-height: 2;
}

.price-btn {
  padding: 1rem 3.2rem;
}

.price-disclaimer {
  margin: 0 auto;
  font-size: 1.6rem;
  margin-bottom: 4.6rem;
}

.shared-features-container {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.shared-feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.shared-feature-icon {
  height: 3.6rem;
  width: 3.6rem;
  background-color: #fdf2e9;
  border-radius: 50%;
  box-shadow: 0 0 0rem 1rem #fdf2e9;
  margin-bottom: 1.4rem;
}

.feature-name {
  font-size: 2rem;
}

.feature-description {
  font-size: 1.6rem;
  line-height: 1.8;
}

/* ************************************************** */
/*                                                    */
/* CSS RELATED TO CTA SECTION IS BELOW                */
/*                                                    */
/* ************************************************** */

.cta-container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  padding-bottom: 12.8rem;
  /* overflow: hidden; */
}

.cta-grid {
  grid-template-columns: 2fr 1fr;
  border-radius: 1rem;
  border: none;
  column-gap: 0;
  background-color: hsl(28, 80%, 60%);
}

.cta-img {
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
  display: none;
}

.cta-text-parts {
  width: 100%;
  padding: 6.4rem 6.4rem;
}

.cta-title {
  font-size: 4.4rem;
  margin-bottom: 4.4rem;
}

.cta-prompt {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 500;
  color: #333;
  margin-bottom: 4.4rem;
}

.cta-img-container {
  width: 100%;
  background: linear-gradient(to right, #e67d2244, #e67d2244),
    url("../img/eating.jpg");

  color: #e67d228c;
  background-size: cover;
  border-radius: 0 1rem 1rem 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form-input label {
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

.form-input input {
  border-radius: 1rem;
  border: none;
  height: 2.4rem;
  padding: 2rem;
  font-size: 1.8rem;
  color: #333;
  background-color: #fdf2e9;
}

.cta-sign-up {
  column-gap: 3.2rem;
  row-gap: 4.4rem;
  justify-content: center;
}

#select-where {
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #333;
  background-color: #fdf2e9;
}

.btn-form {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  background: rgb(60, 37, 15);
  color: #fff;
  transition: all 0.2s;
}

.btn-form:hover {
  background-color: #fdf2e9;
  color: #333;
}

.btn-form:active,
.btn-form:focus {
  box-shadow: 0rem 0rem 0rem 1rem #fff;
}

/* ********************************************* */
/*                                               */
/* CSS RELATED TO FOOTER IS BELOW                */
/*                                               */
/* ********************************************* */

.footer-container {
  border-top: 0.1rem solid #888;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 6rem;
  padding: 9.6rem 3.2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.footer-img {
  width: 100%;
  /* margin-bottom: 2rem; */
}

.footer-icon {
  stroke: #333;
  border: none;
  width: 3rem;
  height: 3rem;
  fill: none;
  stroke-width: 0.05rem;
  background-color: clear;
}

.footer-link {
  transition: all 0.2s;
  font-size: 1.6rem;
  font-weight: 300;
}

.footer-link:link,
.footer-link:visited {
  color: #555;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: #212529;
}

.footer-img-container:focus-visible,
.footer-img:focus,
.footer-img:focus-visible,
.footer-link:focus {
  box-shadow: 0 0 0 0.5rem #e67d229a;
  outline: none;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.social-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.copyright-footer {
  margin-top: 6.4rem;
  font-size: 1.4rem;
}

.main-col-category {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.address {
  font-size: 1.6rem;
  font-weight: 400;
}
