* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.container::before {
  content: "SALE";
  background-color: #f43333;
  color: white;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 15px;
  position: absolute;
  top: -10px;
  left: -30px;
  letter-spacing: 0.15rem;
}

.colors {
  margin-bottom: 25px;
}

.color {
  height: 20px;
  width: 20px;
  /* display: inline-block; replacing this with flexbox layout*/
  margin-right: 10px;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-yellow {
  background-color: #ece03e;
}

.color-green {
  background-color: green;
}

.color-red {
  background-color: red;
}

.color-brown {
  background-color: brown;
}

article {
  border: 4px solid black;
}

h1 {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px;
}

.price {
  font-weight: bold;
  font-size: 24px;
}

.shipping-price {
  color: rgb(84, 84, 84);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 20px;
}

.more-info-tagline {
  margin-bottom: 25px;
}

.info:link,
.info:visited {
  color: black;
}

.info:hover,
.info:active {
  /* color: black; */
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.buy-button {
  background-color: black;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-top: 4px solid black;
}

.buy-button:hover {
  color: black;
  background-color: white;
}

/* FLEXBOX LAYOUT: */
/* .flex-container {
  display: flex;
  gap: 40px;
  flex: 1;
}

.info-column {
  /* flex-basis: 243px; */
/* margin-top: 20px;
  flex: 1;
}

.details-column {
  /* flex-basis: 243px; */
/* margin-top: 20px;
  flex: 1;
} */

article {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 25px;
  align-items: start;
}

.product-name {
  grid-column: 1 / -1;
}

.buy-button {
  grid-column: 1 / -1;
}

.details-column {
  margin-top: 20px;
}

.info-column {
  margin-top: 20px;
}

.price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.shipping-price {
  margin-bottom: 0;
}

.colors {
  display: flex;
}

.item-description {
  margin-bottom: 15px;
}

/* FLOAT LAYOUT: Outdated and Challenge 2 is replacing it with Flexbox */
/* .sample-image {
  float: left;
  margin-right: 40px;
}

.info-column {
  float: left;
  width: 243px;
  margin-top: 20px;
}

.details-column {
  float: right;
  width: 243px;
  margin-top: 20px;
}

.price {
  float: left;
}

.shipping-price {
  float: right;
  margin-top: 8px;
}

.price-info::after {
  clear: both;
  content: "";
  display: block;
}

.item-description {
  margin-bottom: 10px;
} */
